
*{
	text-align: right;
}

/*body{
	background-image: url(pexels1.jpeg);
	background-size: cover;
}
*/
h2,p{
	color: #DED30B;
	text-align: center;
	border: 5px solid rgba(179, 170, 0,0.5);
	cursor: pointer;
}
p{
	color: green;
}
li{
	list-style: none;
	display: inline-block;
}

.webtext{
	border: 5px dashed green;
}

.active{
	color: red;
}

#div1{
	background: rgba(0,0,255,0.2);
}

#div2{
	background: rgba(255,0,0,0.2);
}

